<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="openarm_base">

  <xacro:include filename="$(find openarm_description)/urdf/base/openarm_base_macro.xacro" />

  <xacro:macro name="openarm_base"
               params="description_pkg:='openarm_description'
                       connected_to:='world'
                       xyz:='0 0 0'
                       rpy:='0 0 0'">

    <xacro:property name="prefix" value="openarm_base_" />

    <material name="${prefix}body_light">
      <color rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
    </material>
    <material name="${prefix}drive_wheel_cyan">
      <color rgba="0.188235294117647 0.866666666666667 0.917647058823529 1" />
    </material>

    <xacro:if value="${connected_to != ''}">
      <link name="${connected_to}" />
      <joint name="${prefix}joint_to_${connected_to}" type="fixed">
        <parent link="${connected_to}" />
        <child link="${prefix}link" />
        <origin xyz="${xyz}" rpy="${rpy}" />
      </joint>
    </xacro:if>

    <link name="${prefix}link">
      <inertial>
        <origin xyz="0.0139877464492624 -5.68244441146032E-05 -0.124578208571542" rpy="0 0 0" />
        <mass value="3.52850301341702" />
        <inertia ixx="0.0829124179160909" ixy="6.52576053503441E-06" ixz="0.000467807221413584"
                 iyy="0.0400047585590855" iyz="-5.94413923106993E-06" izz="0.098624358497588" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/base/visual/base_link.STL" />
        </geometry>
        <material name="${prefix}body_light" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/base/collision/base_link.STL" />
        </geometry>
      </collision>
    </link>

    <link name="${prefix}right_drive_wheel_link">
      <inertial>
        <origin xyz="2.91165459323788E-11 -6.43526715232018E-07 0.0369779577265139" rpy="0 0 0" />
        <mass value="1.14125095338992" />
        <inertia ixx="0.00208401824386845" ixy="-1.79853323308109E-13" ixz="-1.90807139016711E-12"
                 iyy="0.00208405095959488" iyz="5.27813516021113E-07" izz="0.00352927857061764" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/base/visual/right_drive_wheel_link.STL" />
        </geometry>
        <material name="${prefix}drive_wheel_cyan" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/base/collision/right_drive_wheel_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}right_drive_wheel_joint" type="continuous">
      <origin xyz="-0.00217824370780602 -0.218924944717817 -0.224330452201286" rpy="-1.5707963267949 0 0" />
      <parent link="${prefix}link" />
      <child link="${prefix}right_drive_wheel_link" />
      <axis xyz="0 0.000125537276711018 0.999999992120196" />
    </joint>

    <link name="${prefix}left_drive_wheel_link">
      <inertial>
        <origin xyz="-3.18491113710862E-11 -6.43526715214671E-07 -0.0369779577265139" rpy="0 0 0" />
        <mass value="1.14125095338992" />
        <inertia ixx="0.00208401824386845" ixy="1.96732400865809E-13" ixz="-2.08714142198925E-12"
                 iyy="0.00208405095959488" iyz="-5.27813516020045E-07" izz="0.00352927857061764" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/base/visual/left_drive_wheel_link.STL" />
        </geometry>
        <material name="${prefix}drive_wheel_cyan" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${description_pkg}/meshes/base/collision/left_drive_wheel_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}left_drive_wheel_joint" type="continuous">
      <origin xyz="-0.00217793050105813 0.218879130112312 -0.224330452201204" rpy="-1.5707963267949 0 0" />
      <parent link="${prefix}link" />
      <child link="${prefix}left_drive_wheel_link" />
      <axis xyz="0 0.000125537276710988 -0.999999992120196" />
    </joint>

    <xacro:base_caster prefix="${prefix}" description_pkg="${description_pkg}" corner="fr"
                       caster_xyz="0.149800623917563 -0.0925229073028034 -0.2186"
                       wheel_z="-0.00149999999415462" />
    <xacro:base_caster prefix="${prefix}" description_pkg="${description_pkg}" corner="fl"
                       caster_xyz="0.149800623917537 0.0924770926972476 -0.2186"
                       wheel_z="0.00150000000579448" />
    <xacro:base_caster prefix="${prefix}" description_pkg="${description_pkg}" corner="br"
                       caster_xyz="-0.152199376082463 -0.0940229073027524 -0.2186"
                       wheel_z="5.79430947666992E-12" />
    <xacro:base_caster prefix="${prefix}" description_pkg="${description_pkg}" corner="bl"
                       caster_xyz="-0.152199376082463 0.0939770926972477 -0.2186"
                       wheel_z="5.79435111003335E-12" />

  </xacro:macro>

</robot>
